<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil MayGourmet</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- inclure le fichier navbar.ejs pour avoir la barre de navigation -->
    <%- include('navbar') -%>
    <p>
        Bienvenue sur la page d'acceuil MayGourmet!
    </p>
    <p>
        Que puis-je faire pour vous?
    </p>
</body>
</html>