<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<%- include('navbar') %>

    <h1>Contact</h1>

    <p>N'hésitez pas à nous contacter pour toute question ou réservation.</p>
    <p>Email : restaurant@maygourmet.com </p>
    <p>Téléphone : 06 39 25 34 18</p>


</body>
</html>