<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- inclure le fichier navbar.ejs pour avoir la barre de navigation -->
    <%- include('navbar') -%>

    <h2>Mon équipe MayGourmet</h2>
</body>
</html>