<header>
    <nav id="main">
        <a href="/"><h1>Acceuil</h1></a>
        <a href="">Equipe</a>
        <a href="">Plats</a>
        <a href="">Contact</a>
        <a href="">Fournisseur</a>
    </nav>
</header>
