<header>
    <nav id="main">
        <a href="/"><h1>Accueil</h1></a>
        <a href="equipe">Equipe</a>
        <a href="plats">Plats</a>
        <a href="contact">Contact</a>
        <a href="fournisseur">Fournisseur</a>
    </nav>

    
</header>
